*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #161616;
    
}

.main-sm{
    display:flex;
    justify-content:space-around;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#title {
    font-family: BEBAS;
    font-size: 50px;
    font-weight: bold;
    color:white;
}

#title:hover{
    font-family: BEBAS;
    font-size: 60px;
    color: #F249B7;
}

.obtenha {
    font-family:Arial;
    font-size: 18px;
}

.menu-sm {
    margin: 10px;
    font-size: 25px;
    color: black;
    box-shadow: 3px 3px #F249B7, 0.5em 0 0.4em;
    font-family: BEBAS;
}

.menu-sm:hover {
    position:relative;
    top:1px;
    
}

.icons {
    width: 40px;
    height: 30px;
    margin: 20px;
}

.icons:hover {
    width: 70px;
    height: 40px;
}

.circle {
    position: absolute;
    top: -20;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F2668B;
    clip-path: circle(70% at right -20%);
}

.principal{ 
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background: #161616;
}

#chamada {
    font-family: BEBAS;
    font-weight: bold;
    margin-top: 10px;
    font-size: 50px;
}

.parte-texto {
    width: 850px;
    margin-left: 100px;
    margin-right: auto;
}

#footer-sm {
    font-family: BEBAS;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 30px;
    
}

.rodape {
    width: 30px;
    height: 30px;
}

.menu-rodape{
    margin-top:10px;
}

.plan-sm {
    width: 100%;
}

.plan-sm {
    width: 400px;
    height: 300px;
    background-color: #F2668B;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.botoes {
    margin: 10px;
    font-size: 22px;
    color: black;
    box-shadow: 3px 3px #F249B7, 0.5em 0 0.4em;
    font-family: BEBAS;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
   width:100%;
}

.precos-sm {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.preco1{
    text-align: center;
    font-family: BEBAS;
    font-size: 25px;
    color: white;
    

}

.plano-mensal {
        text-align: center;
        font-family: BEBAS;
        font-size: 20px;
}

.valor1{
    text-align: center;
}

.plano-mensal2 {
    text-align: center;
    font-family: BEBAS;
    font-size: 20px;
}

.valor2{
    text-align: center;
}

.plano-mensal3 {
    text-align: center;
    font-family: BEBAS;
    font-size: 20px;
}

.valor3{
    text-align: center;
}


.texto-abaixo {
    background-color: #011C26;
    width: 350px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
   
}

.texto-abaixo2{
    color: white;
    font-family: BEBAS;
    text-align: center;
    font-size:15px;
    margin-top: 15px;
    
}

.assine{
    margin: 10px;
    font-size: 22px;
    color: black;
    box-shadow: 3px 3px #F249B7, 0.5em 0 0.4em;
    font-family: BEBAS;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}



.img {
    width: 500px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 260px;
    display: flex;
    justify-content: start;
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: none;
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}



/*responsividade*/
@media(max-width:1200px){

    .main-sm{
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    .imgBox{
        margin-left: -20px;
    }


    .botao{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .circle {
         display: none;
    }
    .menu-sm {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        height: 600px;
    }

    .main-sm{
        margin-left: auto;
        margin-right: auto;
    }

    #title{
        text-align: center;
    }

    .principal {
        flex-direction: column;
        display: flex;
    }

    #chamada {
        font-size: 25px;
        text-align: center;
    }

   
    .swiper-slide {
        height: 380px;
    }

    .menu{
        display: flex;
        flex-direction: column;
    }
    
    .obtenha{
        text-align: center;
    }

   .parte-texto{
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin-left: 5%;
   }

   .btn{
       display:flex;
       flex-direction: column;
   }

   .precos-sm{
    display: flex;
    flex-direction: column;
   }

   .plan-sm{
       margin-left: auto;
       margin-right: auto;
   }
}


@media(max-width:900px){

    .main-sm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20%;
    }

    .precos-sm{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
       }
    
       .plan-sm{
           margin-left: auto;
           margin-right: auto;
       }
    
       .parte-texto{
       margin-left: -2%;
    }

    .btn{
        display:flex;
        flex-direction: column;
        margin-left: 7%;
        
    }

    #footer-sm {
        margin-left: 10%;
    }
 
}

@media(max-width:600px){

    .main-sm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 65%;
    }

    .precos-sm{
        display: flex;
        flex-direction: column;
        margin-left: 40%;
       }
    
       .plan-sm{
           margin-left: auto;
           margin-right: auto;
       }
    
       .parte-texto{
       margin-left: -40%;
    }

    .btn{
        display:flex;
        flex-direction: column;
        margin-left: 27%;
        
    }

    #footer-sm {
        margin-left: 30%;
    }
 
}

@media(max-width:400px){

    .main-sm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 85%;
    }

    .precos-sm{
        display: flex;
        flex-direction: column;
        margin-left: 50%;
       }
    
       .plan-sm{
           margin-left: auto;
           margin-right: auto;
       }
    
       .parte-texto{
       margin-left: -40%;
    }

    .btn{
        display:flex;
        flex-direction: column;
        margin-left: 47%;
        
    }

    #footer-sm {
        margin-left: 60%;
    }
 
}

