.container-cadastro{
    background-color: #F2668B;
    display: fit-content;
    margin: 3% auto;
    width: 40%;
    border-radius: 20px;
    height: auto;
}

#forms-cadastro{
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 100%;
}

h2{
    font-family: BEBAS;
    font-size: 35px;
    color: white;
    text-align: center;
}

hr{
    width: 100%;
}

label{
    text-align: left;
    margin-left:30px;
}

#name, #email,#pass, #confirm, #rg-mask, #cpf-mask, #cep, #cidade, #estado, #logradouro, #number, #complemento, #bairro{
    margin-left:30px;
    margin-right: 30px;
    margin-bottom: 5px;
    padding: 5px;
    height: 32px;
    border: none;
    color: white;
    background-color: #011C26;
}

#name:focus, 
#email:focus,
#pass:focus, 
#confirm:focus, 
#rg-mask:focus,
#cpf-mask:focus, 
#cep:focus, 
#cidade:focus,
#estado:focus,
#logradouro:focus, 
#number:focus, 
#complemento:focus
#bairro:focus{
    background-color: #043d52;
    outline: 0;
    border: none;
    color: white;
}

.docs{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#docschild1, #docschild2{
    display: fit-content;
    text-align: left;
    width: 40%; 
    flex-wrap: wrap;
}

#docschild2{
    margin-left: 18%;
}

#cpf-mask, #rg-mask{
    width: 81%;
}

.endereco1, .endereco2, .endereco3 {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 5px;
}

.endereco1 input, .endereco2 input, .endereco3 input{
    width: 100%;
}

.child1, .child2, .child3, .child4, .child5, .child6, .child7{
    display: flex;
    flex-wrap: wrap;
}

.child1{
    width: 30%;
    display: flex;
}

.child2{
    width: 30%;
}

.child3{
    width: 40%;
}

.child4{
    width: 70%;
}

.child5{
    width: 30%;
}

.child6{
    width: 55%;
}

.child7{
    width: 45%;
}

.btn-cadastro{
    height: 32px;
    width: 90px;
    font-size: 19px;
    color: black;
    box-shadow: 3px 3px #F249B7, 0.5em 0 0.4em;
    font-family: BEBAS;
    margin: 20px auto;
}
#footer-sm{
    margin-top: 5%;
    position: absolute;
}

/*responsividade*/
@media screen and (max-width:1500px){
    .container-cadastro{
        width: 32%;
        margin: 3% auto 0;
    }

    #docschild2{
        margin-left: 15%;
    }

    .endereco1{
        flex-wrap: wrap;
    }

    .endereco1 input{
        flex-wrap: 100%;
    }

    .child1{
        width: 40%
    }
    
    .child2{
        width: 60%
    }
    
    .child3{
        width: 100%;
    }
}

@media screen and (max-width:1350px){
    .container-cadastro{
        width: 34%;
    }

    #docschild2{
        margin-left: 14%;
    }
}

@media screen and (max-width:1100px){
    .container-cadastro{
        width: 35%;
    }

    #docschild2{
        margin-left: 13%;
    }
}

@media screen and (max-width:1000px){
    .container-cadastro{
        width: 40%;
    }

    #docschild2{
        margin-left: 12%;
    }

    .child4{
        width: 63%;
    }
    
    .child5{
        width: 37%;
    }
}

@media screen and (max-width: 850px){
    .container-cadastro{
        width: 45%;
    }

    .docs{
        display: fit-content;
        flex-direction: column;
    }

    #docschild1, #docschild2{
        width: 100%;
        margin-left: 0;
    }

    .child4{
        width: 63%;
    }
    
    .child5{
        width: 37%;
    }

    .endereco3{
        flex-direction: column;
    }

    .child6, .child7{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .container-cadastro{
        width: 50%;
    }

    #docschild1, #docschild2{
        width: 95%;
        margin-left: 0;
    }

    .endereco1{
        flex-direction: column;
    }

    .child1, .child2, .child3{
        width: 100%;
    }

    .child4{
        width: 65%;
    }
    
    .child5{
        width: 35%;
    }

    .endereco2{
        flex-direction: column;
    }
    
    .child4{
        width: 100%;
    }
        
    .child5{
         width: 100%;
    }
}

@media screen and (max-width: 500px){
    .container-cadastro{
        width: 55%;
    }

    #docschild1, #docschild2{
        width: 93%;
        margin-left: 0;
    }
}  

@media screen and (max-width: 400px){
    .container-cadastro{
        width: 59%;
    }

    #docschild1, #docschild2{
        width: 91%;
        margin-left: 0;
    }
}