.container-forget{
    background-color: #F2668B;
    display: flex;
    margin: 7rem auto;
    width: 800px;
    border-radius: 20px;
    height: auto;
}

h2{
    font-family: BEBAS;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
}

hr{
    width: 800px;

}

#forms-forget{
    text-align: center;   
}

#email{
    background-color: #011C26;
    border-radius: 6px;
    width: 350px;
    padding: 2px;
    height: 32px;
    border: none;
}

#email:focus{
    background-color: #043d52;
    outline: 0;
    border: none;
}

.btn-enviar{
    height: 32px;
    width: 60px;
    font-size: 19px;
    color: black;
    box-shadow: 3px 3px #F249B7, 0.5em 0 0.4em;
    font-family: BEBAS;
    margin-bottom: 20px;
}

#footer-sm {
    margin-top: 13%;
}
