.container-login{
    background-color: #F2668B;
    display: fit-content;
    margin: 7.6% auto 0;
    width: 40%;
    border-radius: 20px;
    height: auto;
}

h2{
    font-family: BEBAS;
    font-size: 35px;
    color: white;
    text-align: center;
    align-items: center;
}

hr{
    width: 100%;
}

#forms-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
}

#email3, #input-pass, #btn-login, .links-login.inputs{
    margin-bottom: 13px;
}

#email3, #input-pass{
    background-color: #011C26;
    width: 100%;
    padding: 4px;
    height: 32px;
    border: none;
    color: white;
}

#email3:focus,
#input-pass:focus{
    background-color: #043d52;
    outline: 0;
    border: none; 
    color: white;
}

.btn-login{
    height: 32px;
    width: 60px;
    font-size: 19px;
    color: black;
    box-shadow: 3px 3px #F249B7, 0.5em 0 0.4em;
    font-family: BEBAS;
}

.links-login.inputs{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    color: #fac90b;
}

#footer-sm {
    margin-top:12.5%;
}

/*responsividade*/
@media screen and (max-width:1200px){
    main{
      justify-content: center;
    }

    .container-login{
        width: 32%;
        margin: 9% auto 0;
    }

    #email3, #input-pass{
        width:100%
    }

    #footer-sm{
        margin-top: 8%;
        font-size: 80%;
    }

    .rodape {
        width: 20px;
        height: 60%;
    }
}

@media screen and (max-width:1100px){
    .container-login{
        width:33%;
        margin: 9% auto 0;
    }

    hr{
        width: 100%;
    }

    #email2{
        width: 95%;
        margin-bottom: 2%;
    }

    #footer-sm{
        margin-top: 14%;
        font-size: 80%;
        justify-content: center;
    }
}

@media screen and (max-width:900px){
    .container-login{
        width:34%;
    }

    #footer-sm{
        margin-top: 18%;
    }
}


@media screen and (max-width: 750px){
    .container-login{
        width:36%;
    }
}

 @media screen and (max-width: 650px){
        .container-login{
            width:40%;
        }
}   

@media screen and (max-width: 500px){
    .container-login{
        width:42%;
    }
} 

@media screen and (max-width: 450px){
    .container-login{
        width:55%;
    }
}
